.navbar {
  position: fixed;
  margin:0;
  top: 0;
  background-color: white;
  width: 92%;
  height: 3rem;
  display: flex;
  color: white; 
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 1px  rgba(0, 0, 0, 0.1);
}

.navbar-options {
  list-style: none;
  display: flex;
  
}

.navbar-options-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex: 1;
}

.navbar-options-list > li {
  height: 100%;
  font-size: 20px;
  flex: 1;
  text-align: center;
  padding: 10px 20px 5px 10px;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.navbar-options-list > li a {
  color: black; 
  text-decoration: none; 
}

.navbar-options-list > li a:hover {
  color: #182842; 
}

.navbar-options-list > li.active a {
  color: rgb(39, 30, 165); 
}
